@model IEnumerable<crud.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-12 margin-tb">
        <div class="pull-left">                
        </div>
        <div class="pull-right">
            <a class="btn btn-primary" asp-action="Create">Add Product</a>
        </div>
    </div>
</div>
<br />

@if (ViewData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        <p>@ViewData["SuccessMessage"]</p>
    </div>
}

<table id="dataTable" class="table table-bordered">
    <thead>
        <tr>
            <th>SN</th>
            <th>Product</th>
            <th>Description</th>
            <th>Created</th>
            <th width="280px">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.CreatedAt</td>
                <td>

                    <a class="btn btn-info"  asp-action="Details" asp-route-id="@product.Id"><span class="fa fa-address-book"></span></a>
                    <a class="btn btn-primary"  asp-action="Edit" asp-route-id="@product.Id"><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@product.Id"><i class="fa fa-remove"></i></a>
                    
                   
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
   <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.css" />
  
<script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "paging": true, // Enable pagination
                "searching": true, // Enable searching
                "ordering": true, // Enable sorting
                "info": true, // Enable showing information
                "columnDefs": [
                    { "targets": "_all", "className": "text-center" } // Center-align all columns
                ]
            });
        });
    </script>

}